extends ../../common/layout

block content
  form(action='/rp',method='post')
    input(type='hidden',name='accountId',value='#{accountId}')
    p
      label(for='password') 新密码:
      input#password(type='password',name='password')
    p
      input(type='submit')