doctype html
html
  head
    meta(charset="utf-8")
    title= title
    // global css
    link(rel="stylesheet", href="/css/common/global.css")
    block css
    block head
  body
    block content
    // global js
    script(data-main="/js/init", src="/js/lib/require.js")
    block script